<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>basys.components</display-name>



  <servlet>
    <servlet-name>Example_SQLProvider</servlet-name>
    <servlet-class> org.eclipse.basyx.components.servlets.SQLSubModelProviderServlet </servlet-class>
 
    <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/config/sqlprovider/sampledb.properties</param-value>
    </init-param>
    
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example_SQLProvider</servlet-name>
    <url-pattern>/Testsuite/components/BaSys/1.0/provider/sqlsm/*</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>Example_CFGProvider</servlet-name>
    <servlet-class> org.eclipse.basyx.components.servlets.CFGSubModelProviderServlet </servlet-class>
 
    <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/config/cfgprovider/samplecfg.properties</param-value>
    </init-param>
    
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example_CFGProvider</servlet-name>
    <url-pattern>/Testsuite/components/BaSys/1.0/provider/cfgsm/*</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>Example_DirectoryProvider_CFGFile</servlet-name>
    <servlet-class> org.eclipse.basyx.components.servlets.StaticCFGDirectoryServlet </servlet-class>
 
    <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/config/directory/cfgdirectory/directory.properties</param-value>
    </init-param>
    
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example_DirectoryProvider_CFGFile</servlet-name>
    <url-pattern>/Testsuite/Directory/CFGFile/*</url-pattern>
  </servlet-mapping>




  <servlet>
    <servlet-name>Example_DirectoryProvider_SQL</servlet-name>
    <servlet-class> org.eclipse.basyx.components.servlets.SQLDirectoryServlet </servlet-class>
 
    <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/config/directory/sqldirectory/directory.properties</param-value>
    </init-param>
    
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example_DirectoryProvider_SQL</servlet-name>
    <url-pattern>/Testsuite/Directory/SQL/*</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
    <servlet-name>Example_XQueryProvider</servlet-name>
    <servlet-class> org.eclipse.basyx.components.servlets.XMLXQueryServlet </servlet-class>
 
    <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/config/xmlqueryprovider/xmlqueryprovider.properties</param-value>
    </init-param>
    
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example_XQueryProvider</servlet-name>
    <url-pattern>/Testsuite/components/BaSys/1.0/provider/xmlxquery/*</url-pattern>
  </servlet-mapping>
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>