<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>basys.components</display-name>



  <servlet>
    <servlet-name>AAS_Server</servlet-name>
    <servlet-class> org.eclipse.basyx.components.servlets.RawCFGSubModelProviderServlet </servlet-class>
 
    <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/config/aasServer/aasServer.properties</param-value>
    </init-param>
    
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AAS_Server</servlet-name>
    <url-pattern>/Testsuite/components/BaSys/1.0/aasserver/*</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>DeviceStatusVABObject</servlet-name>
    <servlet-class> examples.controllingdevice.vab.object.SimpleVABElementServlet </servlet-class>

    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceStatusVABObject</servlet-name>
    <url-pattern>/Testsuite/components/BaSys/1.0/devicestatusVAB/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>DeviceStatusSubmodel</servlet-name>
    <servlet-class> examples.controllingdevice.vab.object.SimpleSubmodelServlet </servlet-class>

    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceStatusSubmodel</servlet-name>
    <url-pattern>/Testsuite/components/BaSys/1.0/devicestatusSM/*</url-pattern>
  </servlet-mapping>

  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>