.view-header {
    color: whitesmoke;
    cursor: pointer;
}

.view-body {
    padding: 3px 15px; // padding-top: 3px;
    // padding-right: 2px;
    // padding-bottom: 3px;
    // padding-left: 20px;
}

.btn-1w {
    min-width: 50px;
}

.btn-2w {
    min-width: 100px;
}

.seperator {
    margin: 1px;
}

.wide {
    min-width: 650px;
}

.left {
    min-width: 140px;
    max-width: 140px;
}
